{#
/**
 * @file
 * Default theme survey.
 *
 * @ingroup themeable
 */
#}
<div class="pr-survey" data-type="marketing">
    <div class="survey-title"></div>
    <div class="survey-progress progress disabled">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:70%">
        </div>
    </div>
    <div class="survey-chat"></div>
    <div class="survey-input">
        <form class="survey-input-form">
            <textarea rows="3"></textarea>
            <input type="submit" value="Submit" disabled>
        </form>
    </div>
</div>
